<%- include('partials/header.html') %>
    <section class="main">
        <h3>Welcome to the world of blogs</h3>
        <p>Here you can find the most popular blogs and highest rate blogs</p>

        <button>Signup</button>
        <button>Login</button>
    </section>

    <%- include('partials/footer.html') %>