.nav {
    background-color: #F8FAF0;
    padding: 5px;
}

.footer {
    background-color: #F8FAF0;
    padding: 5px;
}

.main {
    background-color: #F8FAF0;
    padding: 10px;
}

.blog_form{
    padding-left: 50px;
    padding-right: 50px;
}

.inline{
    display: inline;
}

.margin_left_5px{
    margin-bottom: 5px;
}

p{
    color: #0088FF;
}

button{
    background-color: #FF7700;
}